<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../../static/info/css/global.css">
        <link rel="stylesheet" href="../../static/info/css/home.css">
        <link rel="stylesheet" href="../../static/info/css/projects.css">
        <link rel="stylesheet" href="../../static/info/css/blog.css">
        <link rel="stylesheet" href="../../static/info/css/post.css">
        <link rel="stylesheet" href="../../static/info/css/navbar.css">
        <script src="https://unpkg.com/htmx.org@1.8.2" integrity="sha384-+8ISc/waZcRdXCLxVgbsLzay31nCdyZXQxnsUy++HJzJliTzxKWr0m1cIEMyUzQu" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="page-container">
            <div id="nav-container">
                <nav>
                    <p id="site-title">
                        Christian<br>
                        Madajski
                    </p>
                    <div id="main-nav-links" hx-get="/update_active/?active=home" hx-trigger="load" hx-target="this" hx-swap="innerhtml">
                        
                    </div>
                </nav>
            </div>
            <div id="content-container" hx-get="{% url 'update_content' %}" hx-trigger="load, click from:#main-nav-links delay:0.1s" hx-target="this" hx-swap="innerhtml swap:150ms">
                
            </div>
        </div>
    </body>
</html>