<div id="info">
    <h2 >Introduction</h2>
    <div id="img-next-to-table">
        <img id="profile-img" src="https://avatars.githubusercontent.com/u/95318426?v=4" width="200px" height="200px" alt="Headshot of Christian">
        <table id="intro-table">
            {% for key, value in personal.items %}
            <tr>
                <td class="label">{{ key }}</td>
                {% if value == False %}
                <td class="false">{{ value }}</td>
                {% elif value == True %}
                <td class="true">{{ value }}</td>
                {% else %}
                <td>{{ value }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <hr>
    <h2>Technical Background</h2>
    <table>
        {% for key, value in tech.items %}
        <tr>
            <td class="label">{{ key }}</td>
            {% for item in value %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <hr>
    <h2>Contact Details</h2>
    <table id="contact">
        {% for key, value in contact.items %}
        <tr>
            <td class="label">{{ key }}</td>
            {% if key == 'Resume' %}
            <td><a href="{{ value.url }}" download>{{ value.text }}</a></td>
            {% elif key == 'GitHub' %}
            <td><a href="{{ value.url }}" target="_blank">{{ value.text }}</a></td>
            {% elif key == 'LinkedIn' %}
            <td><a href="{{ value.url }}" target="_blank">{{ value.text }}</a></td>
            {% else %}
            <td>{{ value }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>