<div id="info">
    <h2 class="info-header">Introduction</h2>
    <p>
        Hello world, my name is <strong>Christian Madajski</strong> and
        I currently work as a <strong>Software Engineer I</strong> at a major bank.
        My location is <strong>Charlotte, NC</strong> and I do <em>not</em>
        want to relocate to anywhere else at this time.
    </p>
    <h2 class="info-header">Technical Background</h2>
    <p>
        My primary programming language is <strong>Python</strong>, but I also have
        exposure to Javascript, C, Java, and Golang. I primarily work with various web
        technologies like <strong>Django</strong>, Flask, and FastAPI for building both
        browsable websites as well as REST APIs. I also have experience with automation
        pipelines utilizing <strong>Jenkins</strong>, Apache Airflow, GitHub, and more.
        I use <strong>PyTest</strong> for unit testing and <strong>Selenium</strong>
        for integration testing. I am familiar with the Atlassian suite 
        <strong>(Confluence, Jira, BitBucket)</strong> for code documentation and management.
     </p>
     <p>
        I am well versed in Unix-based systems such as <strong>RHEL</strong>, Fedora, and Ubuntu. I
        can write both <strong>Bash</strong> and Python scripts for interfacing with the OS and automating
        tasks. I am currently working on certifications for <strong>Google Cloud Platform</strong> and 
        Microsoft Azure.
     </p>
     <h2>Education</h2>
     <p>
        I graduated in May 2022 with a <strong>Bachelors of Computer Science</strong>
        from UNC Charlotte. I also continue to learn new skills by reading through
        technical documentation and taking courses through <a href="https://www.codecademy.com/" target="_blank">Codecademy</a>.
     </p>
     <h2>Contact Details</h2>
     <p>
        Work experience, email, and phone number are available <a href="../../static/info/pdf/resume_v11_cmadajski.pdf" title="Click to download resume" download>on my resume</a>.
     </p>
</div>